

.divLogin{
    background-color: white;
    width: 50%;
    height: 50%;
    border: 1px solid white;
    margin: 50px;
    padding: 1%;
}

.divCriaPost{
    text-align:left;
    background-color: white;
    width: 50%;
    height: 50%;
    border: 1px solid white;
    margin: 50px;
    padding: 1%;
}

.fundo
{
    background-color: #8fc0a9;
    background-repeat: no-repeat;
    background-size:100%;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    background-size: cover;
}

.imagem{
    width:100%;
    height:auto;
    overflow:hidden;
    text-align:center;
}

.alinha{
    align-items: right;
}


.inicial
{
    /*background-color: #D9CAB3;*/
    background-image: url('home.png');
    background-repeat: no-repeat;
    background-size:100%;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    background-size: cover;
}